# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
*.iws
*.ipr
.settings/
.vscode/
.classpath
.project

# Git
.git/
.gitignore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
